<div class="container valign">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">{{ title }}</h5>
                    <p class="grey-text text-lighten-4">{{ contact }}</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contacts</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="mailto:{{mail}}">{{mail}}</a></li>
                        <li><a class="grey-text text-lighten-3" href="tel:{{ phone }}">{{ phone }}</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{ linkedin }}">Linkedin</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{ github }}">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">share</i>
            </a>
            <ul>
                <li><a class="btn-floating grey darken-2" id="linkedin"><span class="icon-linkedin2"></span></a></li>
                <li><a class="btn-floating grey darken-2" id="facebook"><span class="icon-facebook"></span></a></li>
                <li><a class="btn-floating grey darken-2" id="twitter"><span class="icon-x"></span></a></li>
            </ul>
        </div>
    </footer>
</div>